:root {
    --bg: #0f172a;
    --panel: rgba(255, 255, 255, 0.05);
    --accent: #38bdf8;
    --accent2: #22c55e;
    --danger: #ef4444;
    --text: #ffffff;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: radial-gradient(circle, #5fb7ff ,#1E90FF,  #003fff);
    color: var(--text);
    font-size: 20px;
}

#status {
    color: initial;
}

h1 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 1px;
    display: flex;
    align-items: center;   /* vertical alignment */
    justify-content: center; /* optional: center everything */
    gap: 10px; /* space between elements */
}

h2 {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 1px;
    display: flex;
    align-items: center;   /* vertical alignment */
    justify-content: center; /* optional: center everything */
    gap: 10px; /* space between elements */
}

.icon{
    font-size: 75px;
}

.video-container {
  display: flex;
  gap: 10px;            /* space between videos */
}

.video-block {
  width: 50%;           /* each takes half */
}

#video {
    width: 46vw;
    height: 55vh;
    object-fit: contain;
    display: block;
    margin: auto;
    border-radius: 16px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.1);
}

#video2 {
    width: 46vw;
    height: 55vh;
    object-fit: contain;
    display: block;
    margin: auto;
    border-radius: 16px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.1);
}


#controls {
    width: 90vw;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    background: var(--panel);
    backdrop-filter: blur(20px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

label {
    display: block;
    margin: 15px 0;
    font-size: 20px;
}

input[type=range] {
    width: 60%;
    appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #334155;
    outline: none;
    margin-left: 10px;
    flex: 1;                /* take remaining space */
    min-width: 150px;

}



input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: var(--accent);
    cursor: pointer;
    box-shadow: 0 0 10px var(--accent);
}

input[type=number] {
    width: 70px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 6px;
    border: none;
    background: #020617;
    color: white;
}

select {
    padding: 8px;
    border-radius: 8px;
    background: #020617;
    color: white;
    border: 1px solid #334155;
    font-size: 20px;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    font-size: 32px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-left: 6px;
    transition: 0.2s;
    flex-shrink: 0;         /* prevent shrinking */
}


button:hover {
    transform: translateY(-1px);
    opacity: 0.9;
}

.led{
    font-size: 20px;
    font-weight: bold;
    width: 150px;           /* fixed width for alignment */
    text-align: right;      /* optional: nicer alignment */
}

.btn-set {
    background: var(--accent);
    color: black;
    font-weight: bold;
}

.btn {
    border: none;
    cursor: pointer;
    width: 100px;
    color: var(--white);;
}

.btn-on {
    background: var(--accent2);
    font-weight: bold;
}

.btn-off {
    background: var(--danger);
    font-weight: bold;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    gap: 10px;              /* consistent spacing */

}












